body {
  font-family: "Hanken Grotesk";
  height: 2175px;
  width: 1680px;
  background-color: #f5f5fa;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  margin: 0;
}
body .layout {
  display: flex;
}
body .layout .sidebar {
  background-color: #603ae5;
  width: 84px;
  height: 1120px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
body .layout .sidebar .nav-img {
  display: flex;
  justify-self: center;
  width: 49px;
  height: 49px;
  top: 4px;
  left: 18px;
  margin: 0 auto;
}
body .layout .sidebar .link {
  text-decoration: none;
  color: white;
  width: 70.0000076294;
  height: 72.0000076294;
  top: 57px;
  left: 7px;
  padding-top: 16px;
  padding-right: 8px;
  padding-bottom: 16px;
  padding-left: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body .layout .sidebar .link .img-div {
  width: 24;
  height: 24;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
body .layout .sidebar .link .img-div img {
  width: 12.9166698456;
  height: 11.625002861;
  top: 1.29px;
  left: 1.29px;
  border-width: 1.29px;
}
body .layout .sidebar .link .title {
  width: 70.0000076294;
  height: 18;
  font-family: Hanken Grotesk;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
}
body .layout .sidebar .active {
  border-left: 4px solid white;
  margin-left: 0;
  width: 80;
  height: 72;
}
body .layout .navigation {
  width: 1207px;
  height: 84px;
  left: 84px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  display: flex;
  align-items: center;
  position: absolute;
}
body .layout .navigation .section-1 {
  width: 371.75px;
  height: 40px;
  position: relative;
  left: 24px;
  gap: 8px;
  display: flex;
  align-items: center;
}
body .layout .navigation .section-1 .review {
  font-family: "Hanken Grotesk";
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 0px;
}
body .layout .navigation .section-1 .drop-down-div {
  width: 184.75px;
  height: 40px;
  gap: 10px;
  box-sizing: border-box;
  border-radius: 8px;
  border-width: 1px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  border: 1px solid #4d4cac;
}
body .layout .navigation .section-1 .drop-down-div .drop-down {
  outline: none !important;
  border: none;
  width: 152.75px;
  height: 24px;
  gap: 8px;
  font-family: Hanken Grotesk;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
}
body .layout .navigation .section-1 .data {
  width: 120px;
  height: 32px;
  font-family: Hanken Grotesk;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2ca01d;
}
body .layout .navigation .section-2 {
  display: flex;
  align-items: center;
  position: absolute;
  width: 576px;
  height: 48px;
  top: 18px;
  left: 615px;
  gap: 4px;
}
body .layout .navigation .section-2 .search {
  cursor: pointer;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(96, 58, 229, 0.1019607843);
}
body .layout .navigation .section-2 .search img {
  width: 19px;
  height: 19px;
  top: 14.66px;
  left: 14.66px;
}
body .layout .navigation .section-2 .export {
  cursor: pointer;
  background: rgba(96, 58, 229, 0.1019607843);
  width: 120px;
  min-width: -moz-fit-content;
  min-width: fit-content;
  height: 48px;
  gap: 10px;
  border-radius: 8px;
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  border: none;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
body .layout .navigation .section-2 .export .text {
  width: 97px;
  height: 18px;
  font-family: Hanken Grotesk;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  color: #603ae5;
}
body .layout .navigation .section-2 .add-document {
  cursor: pointer;
  background: rgba(96, 58, 229, 0.1019607843);
  width: 120px;
  height: 48px;
  gap: 10px;
  border-radius: 8px;
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  border: none;
}
body .layout .navigation .section-2 .add-document .text {
  width: 97px;
  height: 18px;
  font-family: Hanken Grotesk;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  color: #603ae5;
}
body .layout .navigation .section-2 .connect-div {
  width: 120px;
  height: 48px;
  gap: 10px;
  border-radius: 8px;
  padding: 12px;
  background: rgba(96, 58, 229, 0.1019607843);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  border: none;
  background: rgba(96, 58, 229, 0.1019607843);
}
body .layout .navigation .section-2 .connect-div .connect {
  width: 73px;
  height: 18px;
  gap: 4px;
  font-family: Hanken Grotesk;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  border: none;
  box-shadow: none;
  color: #603ae5;
}
body .layout .navigation .section-2 .connect-div .connect .option {
  font-family: Hanken Grotesk;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  background: rgba(96, 58, 229, 0.1019607843);
}
body .layout .navigation .section-2 .notifications {
  cursor: pointer;
  border: none;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 8px;
  padding-top: 2px;
  padding-right: 3px;
  padding-bottom: 2px;
  padding-left: 3px;
  background: rgba(96, 58, 229, 0.1019607843);
}
body .layout .navigation .section-2 .notifications img {
  width: 16.9374275208px;
  height: 20px;
  border-width: 1.5px;
}
body .layout .navigation .section-2 .settings {
  cursor: pointer;
  border: none;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 8px;
  padding-top: 2px;
  padding-right: 3px;
  padding-bottom: 2px;
  padding-left: 3px;
  background: rgba(96, 58, 229, 0.1019607843);
}
body .layout .navigation .section-2 .settings img {
  width: 20.3569717407px;
  height: 21.5px;
}
body .layout .navigation .section-2 .account {
  border: none;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 8px;
  padding-top: 2px;
  padding-right: 3px;
  padding-bottom: 2px;
  padding-left: 3px;
  background: rgba(96, 58, 229, 0.1019607843);
}
body .layout .navigation .section-2 .account img {
  width: 16.5px;
  height: 19.25px;
  top: 1.38px;
  left: 2.75px;
}
body .layout main {
  width: 1165px;
  height: 995px;
  position: absolute;
  top: 120px;
  left: 105px;
}
body .layout main .accounting .expenses-report {
  width: 180px;
  height: 40px;
  position: absolute;
  top: 26px;
  left: 954px;
  border-radius: 8px;
  background-color: #603ae5;
  color: white;
  cursor: pointer;
  border: none;
}
body .layout main .accounting section {
  width: 1123px;
  height: 884px;
  position: relative;
  top: 90px;
  left: 21px;
  gap: 24px;
  display: flex;
}
body .layout main .accounting section .documents {
  width: 350px;
  height: 775px;
  gap: 23px;
}
body .layout main .accounting section .documents .links {
  width: 344px;
  height: 40px;
  gap: 4px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
body .layout main .accounting section .documents .links .link {
  text-decoration: none;
  width: 112;
  height: 40;
  gap: 10px;
  border-radius: 8px;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  font-family: Hanken Grotesk;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
}
body .layout main .accounting section .documents .links .active {
  color: black;
}
body .layout main .accounting section .documents .outlet .bills {
  margin-top: 23px;
  width: 350px;
  height: 712px;
}
body .layout main .accounting section .documents .outlet .bills .bill {
  width: 350px;
  height: 89px;
  gap: 12px;
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  border-bottom-width: 1px;
  box-sizing: border-box;
  display: flex;
}
body .layout main .accounting section .documents .outlet .bills .bill img {
  width: 40.2298851013px;
  height: 40px;
  border-radius: 8px;
  border-width: 1px;
}
body .layout main .accounting section .documents .outlet .bills .bill .data {
  color: #603ae5;
  width: 249.770111084px;
  height: 57px;
  gap: 3px;
}
body .layout main .accounting section .documents .outlet .bills .bill .data .name {
  font-family: Hanken Grotesk;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
}
body .layout main .accounting section .documents .outlet .bills .bill .data .date {
  font-family: Hanken Grotesk;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
}
body .layout main .accounting section .documents .outlet .bills .bill .data .money {
  font-family: Hanken Grotesk;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
}
body .layout main .accounting section .document {
  width: 749px;
  height: 884px;
  gap: 10px;
  padding-top: 11px;
  padding-right: 9px;
  padding-bottom: 11px;
  padding-left: 9px;
  border-width: 1px;
  box-sizing: border-box;
}
body .layout main .accounting section .document img {
  width: 730px;
  height: 861px;
  border-radius: 20px;
}
body .layout .quickbook {
  width: 389px;
  height: 2175px;
  position: absolute;
  left: 1291px;
}
body .layout .quickbook .container {
  border: 2px solid black;
  width: 341px;
  height: 2118.6328125px;
  position: relative;
  top: 22px;
  left: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
body .layout .quickbook .container .one {
  width: 341px;
  height: 134px;
  border-width: 1px;
  border: 1px solid #ececf2;
}
body .layout .quickbook .container .one .title {
  width: 205px;
  height: 62px;
  position: relative;
  top: 16px;
  left: 16px;
  gap: 8px;
  display: flex;
}
body .layout .quickbook .container .one .title img {
  width: 40px;
  height: 40px;
}
body .layout .quickbook .container .one .title .block {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
body .layout .quickbook .container .one .title .block .block1 {
  color: #1c1d21;
  width: 80px;
  height: 24px;
  font-family: Hanken Grotesk;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
  text-align: center;
}
body .layout .quickbook .container .one .title .block .block2 {
  display: flex;
  flex-direction: column;
  font-family: Hanken Grotesk;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0px;
  text-align: center;
  color: #8181a5;
  align-items: start;
}
body .layout .quickbook .container .one .status-div {
  color: #8181a5;
}
body .layout .quickbook .container .one .status-div .status {
  width: 64;
  height: 18;
  position: absolute;
  top: 16px;
  left: 261px;
  font-family: Hanken Grotesk;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0px;
  text-align: right;
}
body .layout .quickbook .container .one .status-div .author {
  width: 72;
  height: 18;
  position: absolute;
  top: 42px;
  left: 253px;
  font-family: Hanken Grotesk;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0px;
  text-align: right;
}
body .layout .quickbook .container .one .checks {
  width: 309px;
  height: 24px;
  position: absolute;
  top: 94px;
  left: 16px;
  gap: 18px;
  display: flex;
}
body .layout .quickbook .container .one .checks .sync {
  width: 145.5px;
  height: 24px;
  display: flex;
  gap: 8px;
  font-family: Hanken Grotesk;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}
body .layout .quickbook .container .one .checks .save {
  width: 145.5px;
  height: 24px;
  display: flex;
  gap: 8px;
  font-family: Hanken Grotesk;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}
body .layout .quickbook .container .two {
  width: 341px;
  height: 250px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
body .layout .quickbook .container .two .links {
  width: 341px;
  height: 35.7840614319px;
  gap: 4px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
body .layout .quickbook .container .two .links .btn {
  cursor: pointer;
  width: 170px;
  height: 35.7840614319px;
  border: none;
  color: #8181a5;
  font-family: Hanken Grotesk;
  font-weight: 700;
  font-size: 12.52px;
  line-height: 18.79px;
  letter-spacing: 0px;
  text-align: center;
  background-color: #f5f5fa;
}
body .layout .quickbook .container .two .links .active {
  color: black;
  width: 170;
  height: 35.7840614319;
  border-radius: 7.16px;
  border-width: 0.89px;
  border: 1px thin black;
}
body .layout .quickbook .container .two .block2 {
  width: 341px;
  height: 144.5833282471px;
  position: inherit;
  display: flex;
  justify-content: center;
}
body .layout .quickbook .container .two .block2 div {
  width: 317.0862121582px;
  display: flex;
  flex-direction: column;
  height: 124.6408081055px;
}
body .layout .quickbook .container .two .block2 div .title {
  width: 110px;
  height: 20px;
  top: 9.97px;
  font-family: Hanken Grotesk;
  font-weight: 700;
  font-size: 15.95px;
  line-height: 19.14px;
  letter-spacing: 0px;
  color: #8181a5;
}
body .layout .quickbook .container .two .block2 div .input {
  height: 21px;
  flex: 1;
  min-width: -moz-fit-content;
  min-width: fit-content;
  font-family: Hanken Grotesk;
  font-weight: 400;
  font-size: 13.96px;
  line-height: 20.94px;
  letter-spacing: 0px;
  color: #8181a5;
  border: none;
  outline: none;
  background-color: #f5f5fa;
}
body .layout .quickbook .container .two .block3 {
  width: 341px;
  height: 46.2655105591px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8181a5;
}
body .layout .quickbook .container .two .block3 div {
  width: 91px;
  height: 18px;
  top: 14.03px;
  left: 119.39px;
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: 91px;
  height: 18px;
  top: 14.03px;
  left: 119.39px;
}
body .layout .quickbook .container .three {
  cursor: pointer;
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: 341px;
  height: 46px;
  box-sizing: border-box;
  gap: 10px;
  border-radius: 8px;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  background-color: #603ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
body .layout .quickbook .container .three div {
  width: 98px;
  height: 18px;
  font-family: Hanken Grotesk;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
}
body .layout .quickbook .container .four {
  border: 2px solid black;
  width: 341px;
  height: 56px;
}
body .layout .quickbook .container .four .left {
  width: 15px;
  background: #e7e7ee;
  width: 24px;
  height: 24px;
  position: relative;
  top: 16px;
  left: 12px;
  background-color: blue;
  border-radius: 4px;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
body .layout .quickbook .container .four .left img {
  width: 15px;
  height: 15px;
}
body .layout .quickbook .container .four .title {
  width: 123px;
  height: 26px;
  position: relative;
  top: 16px;
  left: 73px;
}
body .layout .quickbook .container .four .right {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  cursor: pointer;
  transform: rotate(180deg);
}
body .layout .quickbook .container .four .right img {
  width: 15px;
  height: 15px;
}
body .layout .quickbook .container .five {
  width: 341px;
  height: 1078px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
body .layout .quickbook .container .five .title {
  width: 341px;
  height: 24px;
}
body .layout .quickbook .container .five .details {
  width: 341px;
  height: 1030px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
body .layout .quickbook .container .five .details .data {
  color: #8181a5;
  width: 341px;
  height: 59px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
body .layout .quickbook .container .five .details .data .label {
  font-family: Hanken Grotesk;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0px;
}
body .layout .quickbook .container .five .details .data .input {
  border: none;
  outline: none;
  font-family: Hanken Grotesk;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #8181a5;
  letter-spacing: 0px;
}
body .layout .quickbook .container .six {
  border: 2px solid black;
  width: 341px;
  height: 226px;
  gap: 24px;
}
body .layout .quickbook .container .seven {
  width: 341px;
  height: 56px;
  border: 2px solid black;
}
body .layout .quickbook .container .eight {
  border: 2px solid black;
  width: 341px;
  height: 104px;
  gap: 12px;
}/*# sourceMappingURL=styles.css.map */